.Trabajemos {
  padding: 8rem 10rem 12rem;
  background: var(--color-negro);
  color: var(--color-blanco);
  display: grid;
  place-items: start;
  font-family: 'Space Grotesk', sans-serif;
  gap: 4rem;
}

.Trabajemos__titulo {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 4rem;
}

.Trabajemos__mensaje {
  font-size: 4rem;
  line-height: 1.1;
}

.Trabajemos__mensaje strong {
  font-weight: bold;
}

.Trabajemos__cta {
  color: var(--color-blanco);
  text-transform: uppercase;
  border: .12rem solid var(--color-blanco);
  background: transparent;
  align-self: flex-start;
  padding: 0 2rem;
  height: 3rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.Trabajemos__cta:hover {
  background: var(--color-blanco);
  color: var(--color-negro);
  box-shadow: 0 .1rem .5rem rgba(255, 255, 255, .25);
}

@media (orientation: portrait) {
  .Trabajemos {
    padding: 5rem;
  }

  .Trabajemos__titulo {
    width: 100%;
    font-size: 2rem;
    justify-content: center;
  }

  .Trabajemos__cta {
    margin-top: 4rem;
    padding: 0 2.5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 9in;
    align-self: center;
  }
}