.Trabajemos {
  padding: 8vw 10vw 12vw;
  background: var(--color-negro);
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  gap: 4vw;
}

.Trabajemos__titulo {
  text-transform: uppercase;
  font-size: 1.4vw;
  padding-bottom: 4vw;
}

.Trabajemos__mensaje {
  font-size: 4vw;
  line-height: 1.1;
}

.Trabajemos__mensaje strong {
  font-weight: bold;
}

.Trabajemos__cta {
  color: var(--color-blanco);
  text-transform: uppercase;
  border: .1vw solid var(--color-blanco);
  background: transparent;
  align-self: flex-start;
  padding: 0 2vw;
  height: 2vw;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9vw;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}