.QueEs {
  padding: 5vw 10vw;
  background: var(--color-blanco);
  display: flex;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  min-height: 100vh;
}

.QueEs__titulo {
  text-transform: uppercase;
  font-size: 1.4vw;
}

.QueEs__punto {
  display: flex;
  border-top: 1px solid lightgray;
  padding: 1.5vw 0 4vw 0;
}

.QueEs__numero {
  flex: 1;
  font-size: 8vw;
}

.QueEs__texto {
  width: 35vw;
  font-size: 1.4vw;
  line-height: 1.25;
}
