.QueEs {
  padding: 5rem 10rem;
  background: var(--color-blanco);
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.QueEs__titulo {
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1.1;
}

.QueEs__textos {
  width: 20ch;
  font-size: 1.3rem;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  flex: 1;
}

.QueEs__explicacion {
  width: 21ch;
}

.QueEs__diagrama {
  flex: 2;
}

@media (orientation: portrait) {
  .QueEs {
    flex-direction: column;
    height: calc(32rem + 125vmin);
    padding: 5rem;
  }

  .QueEs__textos {
    width: 100%;
  }

  .QueEs__titulo {
    font-size: 5rem;
  }

  .QueEs__explicacion {
    width: auto;
    font-size: 2.5rem;
  }
}