.QueEs {
  padding: 5rem 10rem;
  background: var(--color-blanco);
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
}

.QueEs__titulo {
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1.1;
}

.QueEs__textos {
  width: 20ch;
  font-size: 1.3rem;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.QueEs__explicacion {
  width: 21ch;
}

.QueEs__diagrama {
  flex: 2;
}