.AcercaDe {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  padding: 0 10rem;
  font-family: 'Space Grotesk', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4fr);
  gap: 5.5rem;
  padding-bottom: 6rem;
  max-width: 100vw;
  overflow: hidden;
  z-index: 2;
  background:
    radial-gradient(ellipse 25rem 25rem at calc(50% - var(--x)) calc(50% - var(--y)), var(--color-negro) 55%, transparent),
    radial-gradient(ellipse 25rem 25rem at var(--x) var(--y), var(--color-azul) 5%, transparent),
    radial-gradient(ellipse 25rem 25rem at calc(100% - var(--x)) calc(100% - var(--y)), var(--color-azul) 5%, transparent),
    radial-gradient(ellipse 25rem 25rem at calc(var(--x) - 10%) calc(50% + var(--y)), var(--color-rojo) 5%, transparent),
    var(--color-negro);
  animation: prueba 25s ease alternate-reverse infinite both;
}

.AcercaDe__mensaje_principal {
  font-size: 9rem;
  padding-top: 13rem;
  text-transform: uppercase;
  width: 50%;
  grid-area: 1 / 1 / 2 / 3;
}

.AcercaDe__bajada:nth-of-type(1) {
  width: 100%;
  font-size: 4.1rem;
  grid-area: 2 / 1 / 3 / 3;
}

.AcercaDe__bajada:nth-of-type(2) {
  display: flex;
  font-size: 1.45rem;
  line-height: 1.25;
  grid-area: 3 / 1 / 4 / 2;
}

.AcercaDe__bajada:nth-of-type(3) {
  display: flex;
  font-size: 1.45rem;
  line-height: 1.25;
  grid-area: 3 / 2 / 4 / 3;
}
