.SlideAI {
  animation: aparece-slide 1s ease;
}

.SlideAI__logo {
  width: 75vw;
  transition: all .15s ease;
  position: fixed;
  bottom: 50%;
  opacity: .1;
  animation: aparece-logo-slideai 30s ease both;
}

.SlideAI h1 {
  font-size: 4.5rem;
  text-align: center;
  line-height: 1.25;
  max-width: 20ch;
}

@keyframes aparece-logo-slideai {
  0% {
    opacity: 0;
  }

  20% {
    opacity: .15;
    transform: translateX(-15%);
  }

  100% {
    transform: translateX(-30%);
  }
}