.Testimonios {
  padding: 5rem 10rem 8rem;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  gap: 7rem;
}

.Testimonios__titulo {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.Testomonios__carrusel {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.Testimonios__contenedor {
  display: flex;
}

.Testimonios__testimonio {
  display: flex;
  align-items: flex-start;
  min-width: 100%;
  transition: transform .25s ease-in-out;
}

.Testimonios__retrato {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 100%;
}

.Testimonios__contenedor_cita {
  padding: 0 4rem;
}

.Testimonios__cita {
  quotes: "“" "”";
  font-size: 3rem;
  line-height: 1.25;
  padding-bottom: 3rem;
  max-width: 25ch;
}

.Testimonios__cita::before {
  content: open-quote;
}

.Testimonios__cita::after {
  content: close-quote;
}

.Testimonios__autor {
  font-size: 1.5rem;
  line-height: 1.25;
}

.Testimonios__botones {
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 3rem;
  background: linear-gradient(to right, transparent 0%, white 30%);
  transform: translateX(-4rem);
}

.Testimonios__boton {
  border: none;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  padding: 0;
  background: none;
  outline: none;
  transform: translateX(4rem);
  transition: opacity .15s ease-in-out;
}

.Testimonios__boton--oculto {
  opacity: 0;
  cursor: default;
}

.Testimonios__icono_flecha {
  width: 100%;
  height: 100%;
  --borde-flecha: .1rem solid var(--color-negro);
  border-bottom: var(--borde-flecha);
  position: relative;
  transform: translateY(-50%);
}

.Testimonios__icono_flecha::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--borde-flecha);
  transform: translate(-70%, 51%) rotate(-45deg);
  clip-path: polygon(100% 100%, 100% 50%, 50% 100%);
}

.Testimonios__icono_flecha--atras::after {
  transform: scaleX(-1) translate(30%, 51%) rotate(-45deg);
  z-index: -1;
}