.Header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 10rem;
  color: var(--color-blanco);
  z-index: 2;
}

.Header__logo {
  width: 6rem;
}

.Header__navegacion {
  display: flex;
  gap: 5rem;
}

.Header__link {
  color: var(--color-blanco);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
}

.Header__cta {
  color: var(--color-blanco);
  text-transform: uppercase;
  border: .1rem solid var(--color-blanco);
  background: transparent;
  align-self: flex-start;
  padding: 0 1.25rem;
  height: 2rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}