.Header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 10rem;
  height: 7rem;
  z-index: 3;
  mix-blend-mode: luminosity;
}

.Header__logo {
  width: 6rem;
}

.Header__navegacion {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.Header__link {
  color: var(--color-blanco);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
}

.Header__cta {
  color: var(--color-blanco);
  text-transform: uppercase;
  border: 1px solid var(--color-blanco);
  background: transparent;
  align-self: flex-start;
  padding: 0 1.25rem;
  height: 2rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.Header__cta:hover {
  background: var(--color-blanco);
  color: var(--color-negro);
}