.ContactoDemo {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  padding: 0 10rem;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
  max-width: 100vw;
  overflow: hidden;
  z-index: 2;
  background:
    radial-gradient(ellipse 25rem 25rem at calc(50% - var(--x)) calc(50% - var(--y)), var(--color-negro) 55%, transparent),
    radial-gradient(ellipse 25rem 25rem at var(--x) var(--y), var(--color-azul) 5%, transparent),
    radial-gradient(ellipse 25rem 25rem at calc(100% - var(--x)) calc(100% - var(--y)), var(--color-azul) 5%, transparent),
    radial-gradient(ellipse 25rem 25rem at calc(var(--x) - 10%) calc(50% + var(--y)), var(--color-rojo) 5%, transparent),
    var(--color-negro);
  animation: prueba 25s ease alternate-reverse infinite both;
  padding-top: 13rem;
  position: relative;
}

.ContactoDemo::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  background: linear-gradient(transparent, var(--color-negro));
  height: 15rem;
  width: 100%;
}

.ContactoDemo__formulario {
  border: 1px solid white;
  border-radius: .5rem;
  padding: 2rem;
  backdrop-filter: blur(5rem);
  box-shadow: 0 .25rem 2rem rgba(0, 0, 0, .35);
  display: grid;
  grid-template: repeat(4, auto) / repeat(2, auto);
  gap: 2rem 4rem;
  z-index: 2;
}

.ContactoDemo__titulo {
  grid-area: auto / span 2;
  font-size: 2rem;
}

.Contacto__contenedor_campos label {
  display: flex;
  flex-direction: column;
  font-size: 1.35rem;
  position: relative;
}

.Contacto__contenedor_campos input, .Contacto__contenedor_campos select {
  padding: .5rem;
  font-size: 1.5rem;
  color: var(--color-negro);
  outline-color: var(--color-azul);
}

.ContactoDemo__boton {
  grid-area: auto / span 2;
  justify-self: center;
  font-size: 1.5rem;
  font-family: 'Space Grotesk', sans-serif;
  height: 3rem;
  padding: 0 2.5rem;
  background: transparent;
  border: 1px solid var(--color-blanco);
  color: var(--color-blanco);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.ContactoDemo__boton:hover {
  background: var(--color-blanco);
  color: var(--color-negro);
}

.ContactoDemo label[aclaracion="opcional"]::after {
  content: '* Opcional';
  font-size: .75rem;
  bottom: 0;
  position: absolute;
  right: 0;
  font-style: italic;
}