.Beneficios {
  padding: 5rem 10rem;
  background:
    radial-gradient(ellipse 25rem 25em at var(--x) var(--y), var(--color-verde) 5%, transparent),
    radial-gradient(ellipse 25rem 25rem at calc(80% - var(--x)) calc(95% - var(--y)), var(--color-azul) 0%, transparent),
    radial-gradient(ellipse 25rem 25rem at calc(var(--x) + 10%) calc(45% + var(--y)), var(--color-rojo) 0%, transparent),
    var(--color-fondo-beneficios);
  display: grid;
  font-family: 'Space Grotesk', sans-serif;
  gap: 7rem;
  --x: 15rem;
  animation: prueba 25s ease alternate-reverse infinite both;
}

@-moz-document url-prefix() {
  .Beneficios {
    background: var(--color-fondo-beneficios);
  }
}

@property --x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

@property --y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

@keyframes prueba {
  0% {
    --x: 10%;
    --y: 15%;
  }
  100% {
    --x: 90%;
    --y: 50%;
  }
}

.Beneficios__titulo {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: flex;
  width: 100%;
}

.Beneficios__contenedor_beneficio {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.Beneficios__contenedor_beneficio:nth-child(odd) {
  flex-direction: row-reverse;
}

.Beneficios__titulo_beneficio {
  font-size: 2.5rem;
  width: 100%;
  padding-bottom: 4rem;
}

.Beneficios__contenedor_imagen_beneficio {
  width: 70%;
}

.Beneficios__imagen_beneficio {
  width: 100%;
  box-shadow:
    0 .15rem .25rem rgba(0, 0, 0, .1),
    0 .25rem .75rem rgba(0, 0, 0, .1);
}

.Beneficios__textos_beneficio {
  width: 30%;
  padding: 0 0 0 2.25rem;
}

.Beneficios__contenedor_beneficio:nth-child(odd)
.Beneficios__textos_beneficio {
  padding: 0 2.25rem 0 0;
}

.Beneficios__subtitulo_beneficio {
  font-weight: bold;
  padding-bottom: 3rem;
  font-size: 1.35rem;
  line-height: 1.25;
}

.Beneficios__lista_beneficio {
  font-size: 1.25rem;
  line-height: 1.25;
  mix-blend-mode: darken;
}

.Beneficios__elemento_lista_beneficio {
  list-style-type: none;
  list-style-position: inside;
  padding-bottom: 1.25rem;
}

.Beneficios__cta {
  color: var(--color-texto);
  text-transform: uppercase;
  border: .1rem solid var(--color-texto);
  background: rgba(255, 255, 255, .15);
  padding: 0 1.5rem;
  height: 2rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 2rem;
  transition: all .15s ease-in-out;
}

.Beneficios__cta:hover {
  background: var(--color-negro);
  color: var(--color-blanco);
}

@media (orientation: portrait) {
  .Beneficios {
    padding: 5rem;
  }

  .Beneficios__titulo {
    width: 100%;
    font-size: 2rem;
  }

  .Beneficios__contenedor_beneficio {
    flex-direction: column;
  }

  .Beneficios__contenedor_imagen_beneficio {
    width: 100%;
  }

  .Beneficios__titulo_beneficio {
    font-size: 4rem;
  }

  .Beneficios__textos_beneficio {
    width: 100%;
    padding: 4rem 0 0 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Beneficios__elemento_lista_beneficio {
    font-size: 2.5rem;
    text-align: left;
  }

  .Beneficios__cta {
    margin-top: 4rem;
    padding: 0 2.5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 9in;
  }
}