.Beneficios {
  padding: 5rem 10rem;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  gap: 7rem;
}

.Beneficios__titulo {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: flex;
  width: 100%;
}

.Beneficios__contenedor_beneficio {
  display: flex;
  flex-flow: row wrap;
}

.Beneficios__contenedor_beneficio:nth-child(odd) {
  flex-direction: row-reverse;
}

.Beneficios__titulo_beneficio {
  font-size: 2.5rem;
  width: 100%;
  padding-bottom: 4rem;
}

.Beneficios__contenedor_imagen_beneficio {
  width: 70%;
}

.Beneficios__imagen_beneficio {
  width: 100%;
  box-shadow:
    0 .15rem .25rem rgba(0, 0, 0, .1),
    0 .25rem .75rem rgba(0, 0, 0, .1);
}

.Beneficios__textos_beneficio {
  width: 30%;
  padding: 0 0 0 2.25rem;
}

.Beneficios__contenedor_beneficio:nth-child(odd)
.Beneficios__textos_beneficio {
  padding: 0 2.25rem 0 0;
}

.Beneficios__subtitulo_beneficio {
  font-weight: bold;
  padding-bottom: 3rem;
  font-size: 1.35rem;
  line-height: 1.25;
}

.Beneficios__lista_beneficio {
  font-size: 1.25rem;
  line-height: 1.25;
}

.Beneficios__elemento_lista_beneficio {
  list-style-type: none;
  list-style-position: inside;
  padding-bottom: 1.25rem;
}

.Beneficios__cta {
  color: var(--color-texto);
  text-transform: uppercase;
  border: .1rem solid var(--color-texto);
  background: transparent;
  align-self: flex-start;
  padding: 0 1.5rem;
  height: 2rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 2rem;
  transition: all .15s ease-in-out;
}

.Beneficios__cta:hover {
  background: var(--color-negro);
  color: var(--color-blanco);
}