.Footer {
  padding: 5rem 10rem;
  background: var(--color-negro);
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  font-family: 'Space Grotesk', sans-serif;
  gap: 7rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.35;
}

.Footer > * {
  z-index: 2;
}

.Footer__contenedor {
  border-top: .1rem solid var(--color-blanco);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  padding: 6rem 0;
}

.Footer__titulo {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 6rem;
}

.Footer__empresa {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.Footer__logo_cero {
  width: 9rem;
}

.Footer__informacion {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.Footer__links {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.Footer__integraciones {
  border-top: .1rem solid var(--color-blanco);
  padding-top: 2rem;
  flex: 1;
}

.Footer__links a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.Footer_logo_sup_chile {
  width: 12rem;
  margin-top: 2rem;
}

.Footer__contenedor_integraciones {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.Footer__logo_integracion {
  margin-top: 1rem;
  width: 8rem;
  filter: brightness(120%);
}

.Footer__links a:hover::after {
  content: '';
  width: 100%;
  height: .15rem;
  background: white;
  border-radius: 1in;
  position: absolute;
  top: calc(100% + .15rem);
  left: 0;
  animation: Footer__subrayado .15s ease-out both;
}

.Footer__logos_redes {
  font-size: 3rem;
  display: grid;
  grid-auto-flow: column;
  max-width: 15rem;
  gap: 1rem;
}

.Footer__logo_red {
  color: var(--color-blanco);
}

@keyframes Footer__subrayado {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .Footer {
    padding: 5rem;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .Footer__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
  }

  .Footer__empresa {
    flex-direction: column;
    align-items: center;
  }

  .Footer__informacion {
    gap: 5rem;
  }

  .Footer__links {
    display: flex;
    flex-direction: column-reverse;
    gap: 6rem;
  }

  .Footer__integraciones {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 6rem 0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .Footer__contenedor_integraciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}