.Contacto {
  background: linear-gradient(
    45deg,
    var(--color-fondo-beneficios) 50%,
    var(--color-azul) 120%
  );
  background-size: 400% 125%;
  animation: Superior__bg 15s ease-in-out infinite;
  color: var(--color-negro);
  padding: 0 10rem;
  font-family: 'Space Grotesk', sans-serif;
  gap: 4rem;
}

.Contacto__mensaje_principal {
  font-size: 9rem;
  padding-top: 13rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.Contacto__bajada {
  font-size: 1.4rem;
  line-height: 1.25;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

.Contacto__formulario {
  padding-bottom: 5rem;
}

.Contacto__seccion_formulario {
  display: flex;
  padding: 2.5rem 0;
}

.Contacto__seccion_formulario:not(:last-child) {
  border-bottom: 1px solid black;
}

.Contacto__titulo_seccion_formulario {
  flex: 1;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5;
}

.Contacto__contenedor_campos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Contacto__contenedor_campos label {
  display: flex;
  flex-direction: column;
  font-size: 1.35rem;
}

.Contacto__contenedor_campos input {
  padding: .5rem;
  margin-top: .25rem;
  font-size: 1.5rem;
  color: black;
  outline-color: var(--color-azul);
}

.Contato__area_desafio {
  padding: .5rem;
  font-size: 1.5rem;
  height: 20rem;
  font-family: 'Space Grotesk', sans-serif;
  resize: none;
  outline-color: var(--color-azul);
}

.Contacto__boton_enviar {
  align-self: flex-end;
  font-size: 1.5rem;
  font-family: 'Space Grotesk', sans-serif;
  height: 2.5rem;
  padding: 0 2.5rem;
  background: transparent;
  border: 1px solid black;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all .15s ease-in-out;
  mix-blend-mode: luminosity;
}

.Contacto__boton_enviar:hover {
  background: var(--color-negro);
  color: var(--color-blanco);
}

@media (orientation: portrait) {
  .Contacto {
    padding: 0 5rem;
  }

  .Contacto__mensaje_principal {
    font-size: 6rem;
  }

  .Contacto__seccion_formulario {
    flex-direction: column;
  }

  .Contacto__titulo_seccion_formulario {
    margin-bottom: 2rem;
  }

  .Contacto__contenedor_campos input {
    padding: 1rem;
  }

  .Contacto__boton_enviar {
    align-self: center;
    font-size: 2.5rem;
    height: 4rem;
    border-radius: 9in;
    margin-top: 2rem;
  }
}