.Superior {
  background: linear-gradient(
    45deg,
    var(--color-rojo) 0 25%,
    var(--color-azul),
    var(--color-purpura) 75%
  );
  background-size: 400% 400%;
  animation: Superior__bg 10s ease-in-out infinite;
  padding: 0 10vw;
  color: var(--color-blanco);
}

.Superior__mensaje_principal {
  font-size: 9vw;
  padding-top: 13vw;
  text-transform: uppercase;
  width: 50%;
  font-family: 'Space Grotesk', sans-serif;
}

.Superior__bajada {
  display: flex;
  width: 100%;
  padding: 6vw 0 4vw 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2vw;
}

.Superior__instruccion {
  flex: 1;
  text-transform: uppercase;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-10vw);
}

.Superior__contenedor_texto {
  flex: 1;
}

.Superior__texto {
  max-width: 24vw;
  line-height: 1.35;
  padding-bottom: 2vw;
}

.Superior__cta {
  color: var(--color-blanco);
  text-transform: uppercase;
  border: .1vw solid var(--color-blanco);
  background: transparent;
  align-self: flex-start;
  padding: 0 1.5vw;
  height: 2vw;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9vw;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Superior__logos {
  display: flex;
  flex-direction: column;
  padding: 10vw 0;
}

.Superior__texto_logos {
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  font-size: 1.2vw;
  padding-bottom: 6vw;
  line-height: 1.5;
}

.Superior__contenedor_logos {
  display: flex;
  justify-content: space-between;
}

.Superior__logo {
  width: 10vw;
  filter: saturate(0) brightness(200%);
}

@keyframes Superior__bg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}