.Superior {
  background: linear-gradient(
    45deg,
    var(--color-rojo) 0 25%,
    var(--color-azul),
    var(--color-purpura) 75%
  );
  background-size: 400% 400%;
  animation: Superior__bg 10s ease-in-out infinite;
  padding: 0 10rem;
  color: var(--color-blanco);
}

.Superior__mensaje_principal {
  font-size: 9rem;
  padding-top: 13rem;
  text-transform: uppercase;
  width: 50%;
  font-family: 'Space Grotesk', sans-serif;
}

.Superior__bajada {
  display: flex;
  width: 100%;
  padding: 6rem 0 4rem 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.4rem;
}

.Superior__instruccion {
  flex: 1;
  text-transform: uppercase;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-10rem);
}

.Superior__contenedor_texto {
  flex: 1;
}

.Superior__texto {
  max-width: 40rem;
  line-height: 1.35;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.Superior__cta {
  color: var(--color-blanco);
  text-transform: uppercase;
  border: .1rem solid var(--color-blanco);
  background: transparent;
  align-self: flex-start;
  padding: 0 1.5rem;
  height: 3rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .15s ease-in-out;
  mix-blend-mode: luminosity;
}

.Superior__cta:hover {
  background: var(--color-blanco);
  color: var(--color-negro);
}

.Superior__logos {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 6rem 0;
}

.Superior__texto_logos {
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 6rem;
  line-height: 1.5;
}

.Superior__contenedor_logos {
  display: flex;
  justify-content: space-between;
}

.Superior__logo {
  width: 10rem;
  filter: saturate(0) brightness(200%);
}

@keyframes Superior__bg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media (orientation: portrait) {
  .Superior {
    padding: 5rem;
  }

  .Superior__mensaje_principal {
    font-size: 11.25vw;
    width: 100%;
    line-height: 1.25;
    padding: 19rem 0 2rem 0;
  }

  .Superior__instruccion {
    display: none;
  }

  .Superior__bajada {
    justify-content: center;
    width: 100%;
  }

  .Superior__contenedor_texto {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .Superior__texto {
    font-size: 2.5rem;
  }

  .Superior__cta {
    margin-top: 4rem;
    padding: 0 2.5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 9in;
    align-self: center;
  }

  .Superior__texto_logos {
    font-size: 2rem;
  }

  .Superior__contenedor_logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 5rem;
  }

  .Superior__logo {
    width: 13rem;
  }
}