*, *::before, *::after {
  box-sizing: border-box;
}
* {
  --color-rojo: #ed3324;
  --color-azul: #005bf1;
  --color-purpura: #a506e9;
  --color-verde: #00d200;
  --color-texto: black;
  --color-blanco: white;
  --color-negro: black;
}