.Banner {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: center;
  position: sticky;
  background-color: var(--color-blanco);
  font-size: 1.25rem;
  font-weight: 600;
}

.Banner__boton {
  margin-left: 1rem;
  background-color: var(--color-azul);
  color: var(--color-blanco);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  border: .1rem solid var(--color-azul);
  padding: 0 1.5rem;
  height: 1.8rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all .15s ease-in-out;
  font-weight: 400;
}

.Banner__boton_cerrar {
  color: var(--color-negro);
  position: absolute;
  right: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Banner--invisible {
  display: none;
}